::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(-45deg, #6a5af9, #d66efd); 
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5a3cbd; 
  }
  