/* Slider container và ảnh */
.slider-container {
  position: relative;
}

.slide-item img {
  width: 100%;
  height: 40rem;
}

/* Slide caption */
.slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%; /* Đảm bảo chữ nằm trong toàn bộ khung */
}

/* Chữ chạy từ bên phải vào và nhấp nháy màu sắc */
.slide-text {
  font-size: 70px;
  font-weight: 40px;
  opacity: 0;
  transform: translateX(100vw); /* Bắt đầu từ ngoài cùng bên phải của màn hình */
  transition: all 2.5s ease-in-out; /* Chạy chậm hơn với thời gian 2.5 giây */
  animation: blinkColor 1s infinite; /* Hiệu ứng nhấp nháy màu sắc lặp lại */
}

/* Khi slide đang active */
.slick-active .slide-text {
  opacity: 1;
  transform: translateX(0); /* Chạy chữ vào giữa màn hình */
}

/* Keyframe cho hiệu ứng nhấp nháy màu sắc */
@keyframes blinkColor {
  0% { color: rgb(0, 0, 0); }
  25% { color: rgb(255, 255, 255); }
  50% { color: rgb(0, 0, 0); }
  75% { color: rgb(255, 255, 255); }
  100% { color: rgb(0, 0, 0); }
}

/* Nút chuyển slide */
.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 10px; /* Đặt nút bên trái */
}

.next-button {
  right: 10px; /* Đặt nút bên phải */
}

.prev-button:hover, .next-button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Hiệu ứng khi hover */
}

/* Tailwind media queries */
@media (min-width: 1024px) {
  .slide-item img {
    height: 40rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slide-item img {
    height: 25rem;
  }
}

@media (max-width: 767px) {
  .slide-item img {
    height: 15rem;
  }
}
